navbar-col: "#E67E33"
navbar-text-col: "#404040"
navbar-children-col: "#E67E33"
page-col: "#F5F5F5"
link-col: "#008AFF"
hover-col: "#CCCCCC"
footer-col: "#F5F5F5"
footer-text-col: "#777777"
footer-link-col: "#404040"
